/* Reset and General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.sidebar {
    background-color: #202020;
    color: white;
    min-width: 200px;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #7b68ee;
}

.content {
    flex: 1;
    padding: 20px;
}

.section {
    margin-bottom: 20px;
}

.section-title {
    font-size: 24px;
    background-color: #202020;
    color: white;
    text-align: center;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.components {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 18px;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s ease;
}

.component:last-child {
    border-bottom: none;
}

.component:hover {
    background-color: #f0f0f0;
}

.component a {
    text-decoration: none;
    color: blueviolet;
    transition: color 0.3s ease;
}

.component a:hover {
    color: #7b68ee;
}
