
#mainContainer {
    max-width: 600px; /* Ajustar para que la tarjeta sea más delgada */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.productImage {
    width: 100%; /* Ajustar para que la imagen ocupe el ancho completo de la tarjeta */
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.productImage:hover {
    transform: scale(1.1);
}

.toggleButton {
    background-color: #7b68ee;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px; /* Añadir margen inferior */
}

.toggleButton:hover {
    background-color: #5e47ea;
}

.productDescription {
    text-align: left;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
}

.productDescription h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.productDescription p {
    line-height: 1.6;
}

.productDescription ul {
    list-style-type: none;
    padding-left: 20px;
}

.productDescription li {
    margin-bottom: 8px;
}

.hidden {
    display: none;
}
