.cardsContainer {
    display: flex;
    justify-content: space-around; /* Espacio alrededor de las tarjetas */
    align-items: flex-start; /* Alinea las tarjetas al inicio verticalmente */
    flex-wrap: nowrap; /* No permite que las tarjetas se envuelvan a la siguiente línea */
    gap: 20px; /* Espacio entre las tarjetas */
    padding: 20px; /* Espacio interior alrededor del contenedor */
    overflow-x: auto; /* Permite el desplazamiento horizontal si hay más de 5 tarjetas */
}

.cardsContainer > div {
    flex: 0 1 200px; /* Cada tarjeta tiene un tamaño fijo */
}
