.new-arrival-card {
    position: relative;
    width: 800px;
    height: 400px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.new-arrival-card:hover {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    padding: 20px;
    text-align: center;
    transition: background 0.3s ease-in-out;
}

.new-arrival-card:hover .overlay {
    background: rgba(0, 0, 0, 0.7);
}

.intro-text {
    font-size: 1.2em;
    margin: 0;
}

.title {
    font-size: 1.5em;
    margin: 10px 0;
    font-weight: bold;
}

.description {
    font-size: 1em;
    margin: 10px 0;
}

.view-all-button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.view-all-button:hover {
    background-color: darkblue;
}
