.shoppingbag-content {
    padding: 20px;
    margin-top: 120px; /* Asegura que el contenido no quede detrás del header */
    background-color: #f8f8f8;
    min-height: calc(100vh - 120px); /* Altura mínima para asegurar que cubra toda la ventana */
}

h2 {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

p {
    color: #999;
}
