.card-video-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card {
    flex: 1;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover; /* Para ajustar la imagen de fondo */
    background-position: center; /* Centrar la imagen de fondo */
    border-radius: 10px;
    color: white; /* Para que el texto sea visible sobre la imagen de fondo */
    padding: 20px; /* Para evitar que el contenido toque los bordes */
}

.video {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image {
    max-width: 100px;
    max-height: 100px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    
}

.card-description {
    font-size: 1em;
    margin-bottom: 20px;
    
}

.buy-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #0056b3;
}
