.management {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Color de fondo */
}

.zoom-effect {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.zoom-effect:hover {
    transform: scale(1.1);
}

.zoom-effect button {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Color de fondo semi-transparente */
    color: white;
    font-size: 1.2em;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.zoom-effect button:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Color de fondo semi-transparente más oscuro al pasar el cursor */
}
